//header 
//desktop
@media (min-width: 992px) {
    .navbar-nav {
        justify-content: flex-end;

        .nav-item {
            margin-left: 20px;
        }
    }

    img {
        width: 150px; 
    }
}

@media (max-width: 768px) { // Ajustes para mobile
    .card {
        margin: 0; // Para quitar márgenes
        width: 100%; // Asegura que la card ocupe el ancho completo
    }

    .navbar {
        width: 100%; // Asegura que la barra de navegación ocupe el ancho completo
    }

    .img-fluid {
        max-width: 100%; // Asegura que la imagen se ajuste al contenedor
        height: auto; // Mantiene la proporción
    }
}



// index-main
@media screen and (min-width: 1024px) {
    .main-home {
        background-color: darkred;
        padding: 2rem 2rem;
        grid-template-columns: 1.5fr repeat(1, 1fr);
        grid-template-rows: 1fr;
        column-gap: 2rem;

        .div-home {
            .div-home2 {
                padding: 3rem;

                h2 {
                    font-size: 1.4rem;
                }

                display: flex;
                gap: 2rem;
            }
        }
    }
}

//jugador-main
@media (min-width: 1025px) {
    .main-jugador {
        max-width: 1200px;
        margin: 0 auto;

        .div-player,
        .div-jugador {
            flex: 1 1 30%;
        }
    }
}

//entrenador
@media screen and (min-width: 1024px) {
    .main-dt {
        background-color: darkred;
        padding: 2rem 2rem;
        grid-template-columns: 1.5fr repeat(2, 1fr);
        grid-template-rows: 1fr;
        column-gap: 2rem;

        .div-uno {
            .div-generico {
                padding: 3rem;

                h2 {
                    font-size: 1.4rem;
                }

                display: flex;
                gap: 2rem;
            }
        }
    }
}

//galeria
@media screen and (min-width: 1024px) {
    body {
        background-color: brown;
    }

    .contenedor {
        display: grid; /* Asegúrate de que el contenedor sea un grid */
        grid-template-columns: repeat(2, 1fr); /* Dos columnas de igual tamaño */
        grid-template-rows: repeat(3, 1fr); /* Tres filas automáticas, puede ajustarse según las imágenes */
        padding: 10px;
        gap: 5px; /* Espacio entre las imágenes */
        max-width: 1200px; 
        margin: 0 auto; 
        box-sizing: border-box;

        .img-uno,{
        }
        .img-tres {
            grid-row: span 2; /* Mantiene estas imágenes más grandes */
            height: 100%; /* Se asegura de que ocupen el 100% de su espacio */
            display: block; /* Asegúrate de que se muestren como bloque */
        }

        .img-dos,
        .img-cuatro,
        .img-cinco,
        .img-seis {
            grid-column: span 1; /* Cada imagen ocupa una columna */
            height: 100%; /* Se asegura de que ocupen el 100% de su espacio */
            display: block; /* Asegúrate de que se muestren como bloque */
        }
    }
}


//contacto
@media (min-width: 1025px) {
    .main-contacto {
        max-width: 900px;

        input[type="submit"],
        input[type="reset"] {
            width: 48%;
        }
    }
}

//footer
@media (min-width: 1025px) {
    #footer {
        h1 {
            font-size: 1.5em;
        }
    }
}



