 //paleta de colores

$color-principal: darkred;
$color-secundario: black;
$color-terciario: brown;
$color-cuarto: whitesmoke;
$color-quinto: white;


//Medidas repetidas
$padding-standard: 20px;
$padding-large: 2rem;
$margin-standard: 30px;

//tipografías
$font-serif: Georgia, 'Times New Roman', Times, serif;
$font-sans: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
$font-trebuchet: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
